<prx-breadcrum [items]="breadcrumbs" class="no-margin"></prx-breadcrum>

<div class="container-fluid mt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-10">
      <prx-card title="Edit Template">
        <prx-card-body>
          <div class="row">
            <div class="col-12" *ngIf="!!formInstance && !!controls?.length">
              <ideo-dynamic-form-group #dyn [config]="controls" [(form)]="formInstance" (onSubmit)="submitForm($event)">
              </ideo-dynamic-form-group>
            </div>
          </div>
        </prx-card-body>
      </prx-card>
    </div>
  </div>
</div>
