<div class="col-xl-11 col-12 px-0" >
  <div class="mb-5 ">
    <div [class]="{   'text-left':   ('Password' | translate) === 'Password' }">
      <h1 class="my-0 welcome" translate>Welcome</h1>
    </div>

  </div>

  <form (ngSubmit)="login(form)" [formGroup]="form" class="cozy " novalidate>
    <div class="alert alert-danger alert-icon" [hidden]="!error || isLoading" translate>
      Username or password incorrect.
    </div>

    <div class="form-group">
      <label class="label " translate>Employ id</label>
      <input type="text" formControlName="employId" class="form-control  input"
        [placeholder]="'Employ id' | translate" />
      <small [hidden]="form.controls.employId.valid || form.controls.employId.untouched" class="text-danger" translate>
        <span translate>
          Employ id
        </span>
        <span translate>
          required
        </span>
      </small>
    </div>

    <div class="form-group">
      <label class="label" translate>Password</label>
      <input type="password" formControlName="password" class="form-control input"
        [placeholder]="'Username' | translate" />
      <small [hidden]="form.controls.password.valid || form.controls.password.untouched" class="text-danger" translate>
        Password is required
      </small>
    </div>

    <div class="form-group d-flex justify-content-between">
      <prx-checkbox formControlName="remember" label="Remember me" [id]="'rememberme'"></prx-checkbox>
      <a routerLink="/register" style="color: #2d709f; font-family: Montserrat;
        font-weight: 500;" translate>Don't have an account?</a>
    </div>

    <div class="form-group mb-0 d-flex align-items-center justify-content-between">
      <a routerLink="/forgot" style="color: #2d709f; font-family: Montserrat;
    font-weight: 500;" translate>Forgot your password?</a>

      <prx-button type="submit" color="primary" [isLoading]="isLoading" [disabled]="form.invalid">
        <span class="col-12" translate>Login</span>
      </prx-button>
    </div>
  </form>
</div>