.welcome {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.22;
}

.label {
  opacity: 0.6;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.29;
  color: #001a3e;
}

.input {
  border-radius: 0.3125rem;
  border: solid 1px #c1c8d0;
  background-color: #ffffff;
}

:host::ng-deep {
  .check-mark {
    margin-right: 0.7em !important;
  }
}


