<div [class]="{ 'text-right': ('Password' | translate) !== 'Password' }">
  <h2 class="text-dark bold" translate>Register</h2>

  <p class="mb-5">
    <span translate>Already have an account?</span>
    <a routerLink="/login" class="text-primary bold" translate>Login here</a>
  </p>

  <form (ngSubmit)="register()" [formGroup]="form" class="cozy" novalidate>
    <div class="alert alert-danger alert-icon" [hidden]="!error || isLoading" translate>
      An error has occurred, please check your information
    </div>

    <div class="form-group">
      <label class="control-label bold small text-uppercase" translate>First Name</label>
      <input type="text" formControlName="firstName" class="form-control bg-light form-control-rounded"
        [placeholder]="'First Name' | translate" />
      <small [hidden]="form.controls.firstName.valid || form.controls.firstName.untouched" class="text-danger">
        <span translate> First Name</span>
        <span translate>required </span>
      </small>
    </div>
    <div class="form-group">
      <label class="control-label bold small text-uppercase" translate>Last Name</label>
      <input type="text" formControlName="lastName" class="form-control bg-light form-control-rounded"
        [placeholder]="'Last Name' | translate" />
      <small [hidden]="form.controls.lastName.valid || form.controls.lastName.untouched" class="text-danger">
        <span translate> Last Name</span>
        <span translate>required </span>
      </small>
    </div>
    <div class="form-group row">
      <div *ngFor="let ctr of ctrArr" class="col-md-6">
        <label class="control-label bold small text-uppercase" translate>
          <span translate>{{ctr.translateName}} </span>
        </label>
        <input [type]="ctr.type" [formControlName]="ctr.controlName" class="form-control bg-light form-control-rounded"
          [placeholder]="( ctr.translateName | translate)" />
        <small [hidden]="ctrHidden(ctr.controlName)" class="text-danger">
          <span translate> {{ctr.translateName}}</span>
          <span translate>required </span>
        </small>
      </div>
    </div>

    <div class="form-group d-flex align-items-center justify-content-end">
      <button type="submit" class="btn btn-primary btn-rounded">
        <fa-icon [icon]="longArrowAltRight"></fa-icon>
        <span class="ml-2" translate>Register</span>
      </button>
      <!-- <button (click)="register()"> </button> -->
    </div>
  </form>
</div>