<span *ngIf="!col.parsedHtmlData; else html">
  {{
    !!col.parsedFullData
      ? col.parsedFullData(item)
      : !!col.parsedData
      ? col.parsedData(item[col.field])
      : !!col.parsedData$
      ? (col.parsedData$(item[col.field]) | async)
      : item[col.field]
  }}
</span>
<ng-template #html>
  <span (click)="col?.onClick ?  col.onClick(item) : null" 
  [innerHTML]="((col.parsedFullData || col.parsedData) ? 
    (
    col.parsedFullData ? 
    col.parsedHtmlData(col.parsedFullData(item))
    : col.parsedHtmlData(col.parsedData(item[col.field]))
    )
    : col.parsedHtmlData(item[col.field])) "></span>
</ng-template>