
<div
  class=""
  *ngIf="!!config && !!group"
  [ngClass]="{
    'form-group mb-3': mode != 2,
    invalid: control?.touched && !control?.valid && !control?.disabled,
    'd-none': !visible || config?.type == 'hidden'
  }"
>
  <ng-container *ngIf="mode === 0">
    <label *ngIf="config.label" [for]="id" [class]="config.labelStyleClass">
      {{ config.label }}
      <i
        *ngIf="!!isRequired"
        class="fas fa-star-of-life text-danger mt-1 ml-1"
        style="font-size: 5px; vertical-align: top"
      ></i>
    </label>
    <ng-container [ngTemplateOutlet]="actual"></ng-container>
  </ng-container>
  <ng-container *ngIf="mode === 1">
    <div class="row">
      <label *ngIf="config.label" [for]="id" class="col-sm-2 col-form-label {{ config.labelStyleClass }}">{{
        config.label
      }}</label>
      <div class="col-sm-10">
        <ng-container [ngTemplateOutlet]="actual"></ng-container>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="mode === 2">
    <ng-container [ngTemplateOutlet]="actual"></ng-container>
  </ng-container>
</div>

<ng-template #actual>
  <div class="row" *ngIf="!!config && !!group">
    <div class="col position-relative">
      <ng-container
        #formContainer
        [dynamicField]="config"
        [type]="type"
        [group]="group"
        (setVisibility)="setVisibility($event)"
        [id]="id"
        [(control)]="control"
      >
      </ng-container>

      <ideo-validation-messages
        [control]="control"
        *ngIf="!!config?.errorMessages"
        [messages]="config?.errorMessages"
        [takeOne]="config.controlType != 'group'"
        [autoShowErrors]="config.autoShowErrors"
      >
      </ideo-validation-messages>
    </div>
  </div>
</ng-template>
