<div class="row mb-3">
  <div class="col-12 d-flex justify-content-between align-items-center">
    <p class="alert alert-warning my-0 mr-3 d-flex justify-content-start align-items-center">
      <i class="fas fa-exclamation-circle mr-1"></i>
      <b class="mr-2"> Important </b>
      Change on this page affects ALL current B2C customers after their current subscription is over
    </p>
    <button class="btn btn-secondary" [routerLink]="['./create']">+ Add Subscription</button>
  </div>
</div>

<ideo-table *ngIf="!!columns?.length" #tc [items]="items" [columns]="columns" [buttons]="itemActions"
  (onLazyLoad)="onLazyLoad($event)" stateKey="b2c-subscription" [totalRecords]="totalRecords" [filters]="filters"
  [(selection)]="selection" [showFilters]="true" [initSelection]="initSelection" dataKey="b2c-subscription.data"
  [lazy]="lazy" [fullHeight]="true">
</ideo-table>

<router-outlet></router-outlet>