<div>
  <div class="modal-header">
    <h4 class="modal-title">AuditLog '{{ id }}'</h4>
    <button type="button" class="close" (click)="modalRef.hide()">
      <!-- <prx-icon icon="x"></prx-icon> -->
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Property</th>
              <th>Old Value</th>
              <th>New Value</th>
            </tr>
          </thead>
          <tbody *ngIf="!!items?.length">
            <tr *ngFor="let item of items">
              <td style="max-width: 10em">{{ item.property }}</td>
              <td
                class="text-truncate"
                style="max-width: 20em"
                [ngClass]="{ 'text-warning': item.oldValue !== item.newValue }"
              >
                {{ item.oldValue }}
              </td>
              <td
                class="text-truncate"
                style="max-width: 20em"
                [ngClass]="{ 'text-primary': item.oldValue !== item.newValue }"
              >
                {{ item.newValue }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-gray" (click)="onCancel()">Close</button>
    <button type="button" class="btn btn-primary" (click)="onConfirm()">Confirm</button>
  </div>
</div>
